body {
    background-image: url("./image/background2.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    margin: 0 auto;
}
.up{
    margin: 0 auto;
    position: relative;
    top: 80px;
    width: 1250px;
    height: 120px;
}

.pageicon{
    width:"40"; 
    height:"40";
    position: relative;
    left: 450px;
    bottom: 60px;
    margin-left: 10px;
}

.container{
    margin: 0 auto;
    padding: 5px 20px;
    max-width: 1250px;
    height: 650px;
    text-align: left;
    background-color: white;
    border-radius: 20px;
    margin-top: 100px;
    margin-bottom: 25px;
}

.image {
    width: 400px;
    height: 600px;
    position: relative;
    left: 800px;
    bottom: 600px;
}

.text{
    width: 700px;
    height: 600px;
    word-wrap: break-word;
}

span{
    font-weight: bold;
}

p{
    font-weight:normal;
}

.inf{
    margin: 0 auto;
    background-color: lightgray;
    border-radius: 5px;
    width: 150px;
    height: 30px;
    line-height:30px;
    font-size: 20px;
    text-align: center;
    position: relative;
    top: 20px;
}

#StartReading{
    margin: 0 auto;
    border: 1px solid; 
    color: #edd664; 
    background-color: #003C9D;
    font-size: 30px;
    width: 250px;
    height: 40px;
    text-align: center;
    border-radius: 30px;
    line-height:40px;
}

button{
    display: flex; 
    justify-content: center;
    margin: 0 auto;
    border:1px solid;
    background-color:#003C9D;
    color:#edd664;
    border-radius: 30px;
    font-size: 30px;
    width: 250px;
    height: 40px;
    line-height:40px;
    text-align: center;
    cursor:pointer;
    transition: 0.8s;
    font-family: Bookman, URW Bookman L, serif;
}

button:hover{
  color:#003C9D;
  background-color:#fff;
  border:2px #003C9D solid;
}