body {
    background-image: url("image_2.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    margin: 0 auto;
}
.up{margin: 0 auto;
    position: relative;
    top: 80px;
    width: 1200px;
    height: 120px;
}

.pageicon{
    width:"40"; 
    height:"40";
    position: relative;
    left: 660px;
}

.container{
    margin: 0 auto;
    width: 1400px;
    height: 750px;
    position: relative;
    top: 20px;
    text-align: center;
}

.story {
    margin: 0 auto;
}

.changepage{
    position: relative;
    bottom: 375px;
}
